<!DOCTYPE html>
<html>

<head>
	<title>La Onda de Teleco</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
	<nav>
		<div id="derecha">
			<a href="https://twitter.com/LaOndaDeTeleco" target="_blank"><img class="enlace" src="/images/twitter.png"></a>
			<a href="https://telegram.me/LaOndaDeTeleco" target="_blank"><img class="enlace" src="/images/telegram.png"></a>
		</div>
		<div class="clear"></div>
	</nav>
	<header>
		<img id="titulo" alt="La Onda" src="/images/laOnda.svg">
	</header>
	<section>
		<article id="twitter">
			<a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/LaOndaDeTeleco"></a>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</article>
		<div class="clear"></div>
	</section>
	<footer>
		<a rel="license" href="http://goo.gl/P7TcRR" target="_blank">
			<img id="licencia" alt="Licencia de Creative Commons" src="/images/licencia.png"/>
		</a>
	</footer>
</body>

</html>
