<!DOCTYPE html>
<html>

<head>
	<title>La Onda de Teleco</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#titulo").on("dblclick", function() {
				var delay = 250;

				setTimeout(function() {
					$("#titulo").attr("src","/images/logo-1.png");
				}, delay);	

				setTimeout(function() {
					$("#titulo").attr("src","/images/logo-2.png");
				}, delay*2);

				setTimeout(function() {
					$("#titulo").attr("src","/images/logo-3.png");
				}, delay*3);

				setTimeout(function() {
					$("#titulo").attr("src","/images/logo.png");
				}, delay*4);
			});		
		});
	</script>
</head>

<body>
	<nav>
		<div id="izquierda">
			<a href="/">Inicio</a>
			<a href="/users">Miembros</a>
		</div>
		<div id="derecha">
			<a href="https://twitter.com/LaOndaDeTeleco" target="_blank"><img class="enlace" src="/images/twitter.png"></a>
			<a href="https://telegram.me/LaOndaDeTeleco" target="_blank"><img class="enlace" src="/images/telegram.png"></a>
		</div>
		<div class="clear"></div>
	</nav>
	<header>
		<img id="titulo" alt="La Onda" src="/images/logo.png">
	</header>
	<section>
		<%- body %>
	</section>
	<footer>
		<a rel="license" href="http://goo.gl/P7TcRR" target="_blank">
			<img id="licencia" alt="Licencia de Creative Commons" src="/images/licencia.png"/>
		</a>
	</footer>
</body>

</html>
