body {
	padding: 0px;
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
	text-align: center;
	padding: 20px;
	margin-bottom: 30px;
}

img#licencia {
	border-width: 0px;
}

img.enlace {
	width: 20px;
	height: auto;
	margin-left: 5px;
}

img#titulo {
	width: 500px;
	height: auto;
}

div#derecha {
	float: right;
}

div.clear {
	clear: both;
}

nav {
	background-color: rgb(255,255,255);
	padding: 5px;
	margin-bottom: 8px;
	box-shadow: 0 0 5px 5px #888;
}

footer {
	position: fixed;
	clear: both;
	left: 0;
	bottom: 0;
}

article#twitter {
	width: 25%;
	height: 500px;
	float: right;
	border-style: dotted;
	border-width: 1px;
	margin-right: 20px;
}

article#twitter:hover {	
	border-style: solid;
	box-shadow: 0 0 5px 5px #888;
}

li {
	list-style: none;
	margin-bottom: 5px;
}

a.user {
	text-decoration: none;
	font-size: 20px;
	color: rgb(0,0,0);
}

a.user:hover {
	font-size: 40px;
}

a.user:active {
	color: green;
}

div#usuarios {
	background-color: rgba(100,100,100,0);
	padding: 10px;
	border-top: solid;
	border-width: 1px;
	width: 500px;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}