body {
	padding: 0px;
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

header {
	text-align: center;
	padding: 20px;
	margin-bottom: 30px;
}

h3, h2 {
	text-align: center;
	font-size: 30px;
}

img#licencia {
	border-width: 0px;
}

img#titulo {
	width: 500px;
	height: auto;
}

div#derecha {
	float: right;
}

img.enlace {
	width: 20px;
	height: auto;
	margin-left: 5px;
}

div#izquierda {
	float: left;
}

div#izquierda a, a.session {
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	border-right-style: solid;
	border-width: 1px;
	float: left;
	color: rgb(0,0,0);
	font-size: 15px;
}

div#izquierda a:active {
	box-shadow: inset 0 0 2px 2px #888;
}

div.clear {
	clear: both;
}

nav {
	background-color: rgb(255,255,255);
	padding: 5px;
	margin-bottom: 8px;
	box-shadow: 0 0 5px 5px #888;
}

footer {
	position: fixed;
	clear: both;
	left: 0;
	bottom: 0;
}

article#twitter {
	width: 25%;
	height: 500px;
	float: right;
	border-style: dotted;
	border-width: 1px;
	margin-right: 20px;
}

article#twitter:hover {	
	border-style: solid;
	box-shadow: 0 0 5px 5px #888;
}

li {
	list-style: none;
	margin-bottom: 5px;
}

a.user, a.commission {
	font-size: 20px;
	color: rgb(0,0,0);
}

a.user:hover, a.commission:hover {
	font-size: 40px;
}

a.user:active, a.commission:active {
	color: green;
}

div#usuarios, div#comisiones {
	padding: 10px;
	border-top: solid;
	border-width: 1px;
	width: 500px;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
}

div#usuario, div.formulario, div#comision {
	background-color: rgb(255,100,100);
	padding: 30px;
	width: 500px;
	margin: auto;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	font-size: 18px;
}

div#usuario td {
	padding-right: 18px;
}

input:focus {
	box-shadow: 0 0 0 3px rgba(0,0,200,0.4);
}

label {
	font-size: 18px;
	margin-right: 15px;
}

div.botones #guardar, div.botones #cancelar, div.botones #editar, div.botones #borrar, div.botones #login {
	border-radius: 50%;
	border-style: none;
	padding: 8px;
	box-shadow: 2px 2px 0 0 #888;
	margin-right: 5px;
	margin-left: 5px;
}

div.botones #guardar:hover {
	background-color: rgba(0,255,0,0.8);
	box-shadow: 0 0 0 0  #888;
}

div.botones #cancelar:hover {
	background-color: rgba(255,0,0,0.8);
	box-shadow: 0 0 0 0  #888;
}

div.botones #editar:hover, div.botones #login:hover {
	background-color: rgba(14,175,148,0.8);
	box-shadow: 0 0 0 0  #888;
}

div.botones #borrar:hover {
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0 0 0 0  #888;
	color: rgb(255,255,255);
}

div.botones {
	width: 170px;	
	margin: auto;
	margin-top: 15px;
}

a.session {
	margin-right: 25px;
}